.home {
display: flex;
padding: 40px 100px;

}
.left h2 {
    font-size: 35px;
    margin-top: 20px;
    width: 280px;
    
}
.home p {
    font-size: 14px;
    margin-top: 30px;
    line-height: 20px;
    width: 400px;
    margin-right: 100px;
}
.home button {
    margin-top: 30px;
    padding: 5px;
    background-color: rgb(54, 54, 206);
    color: white;
    font-size: 14px;
    border: none;

}
.right img {
    width: 250px;
    height: 300px;
} 